*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1411px;
}
/* =============nav section=============== */
.navbar{
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.navbar ul li a{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-right: 48px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.navbar ul li a:hover{
    color: #ffffff;
}
.navbar ul li a i{
    font-size: 10px;
    color: #ffffff;
}
.navbar .login h3{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.navbar .login button{
    width: 216px;
    height: 64px;
    background-color: #ffffff;
    color: #30344E;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent;
}
.navbar .login button:hover{
    background-color: #FD5F36;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: .4s;
}
.navbar .login{
    display: flex;
    align-items: center;
    gap: 36px;
}
/* =============nav section=============== */
/* <!-- ==========banner section start============ --> */
#banner {
    background-image: url("../images/banner-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 185px;
    padding-bottom: 101px;
}
#banner .left h1{
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}
#banner .left p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 32px;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
}
#banner .left a{
    width: 204px;
    height: 64px;
    background-color: #FD5F36;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    margin-bottom: 50px;
    border-radius: 5px;
}
#banner .left a:hover{
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: .4s;
}
#banner .left h4{
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 71px;
}
#banner .left h4 span{
    color: #52C5B6;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#banner .left .star-box .img-box{
    position: relative;
}
#banner .left .star-box .img-box .banner-tow {
    position: absolute;
    left: 40px;
}
#banner .left .star-box .img-box .banner-three {
    position: absolute;
    left: 70px;
}
#banner .left .star-box .img-box .banner-four {
    position: absolute;
    left: 103px;
}
#banner .left .star-box .icon-box h3{
    font-size: 26px;
    font-weight: 600;
    color: #52C5B6;
    letter-spacing: 0.52px;
}
#banner .left .star-box{
    display: flex;
    gap: 120px;
}
#banner .left .star-box .icon-box .star{
    display: flex;
    gap: 10px;
}
#banner .left .star-box .icon-box .star .i-main i{
    font-size: 14px;
    color: #FDB400;
}
#banner .border{
    width: 17px;
    height: 1px;
    border-color: #4D516F;
    rotate: 90deg;
    margin-top: 12px;
}
#banner .left .star-box .icon-box .star{
    position: relative;
}
#banner .left .star-box .icon-box .star h5 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    position: absolute;
    top: 32px;
    left: 0px;
}
#banner .banner-right{
    margin-left: 74px;
    position: relative;
}
#banner .banner-right .banner-tow {
    position: absolute;
    top: -187px;
}
#banner .banner-right .banner-three {
    position: absolute;
    top: -80px;
    left: 11px;
}
#banner .banner-button-bac {
    position: absolute;
    left: 559px;
    top: 493px;
}
#banner .left{
    position: relative;
}
#banner .banner-play-button {
    position: absolute;
    left: 614px;
    top: 549px;
}
#banner .banner-full {
    position: absolute;
    top: 404px;
    left: 638px;
}
#banner .left .tir {
    position: absolute;
    top: 400px;
    left: 359px;
}
#banner .reng {
    position: absolute;
    top: 557px;
    right: -253px;
}
/* <!-- ==========banner section end============ --> */
/* <!-- ======about section start====== --> */
#about{
    padding-top: 130px;
    padding-bottom: 130px;
}
#about .text-areya h4{
    font-size: 20px;
    font-weight: 700;
    color: #FD5F36;
    margin-bottom: 8px;
}
#about .text-areya h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    color: #30344E;
    margin-bottom: 20px;
}
#about .text-areya p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #5B5F77;
    width: 600px;
    margin-bottom: 26px;
    font-family: 'Inter', sans-serif;
}
#about .text-areya ul{
    padding: 0px;
}
#about .text-areya ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #30344E;
    margin-bottom: 18px;
    list-style: none;
}
#about .text-areya ul li i{
    font-size: 13px;
    width: 24px;
    height: 24px;
    color: #30344E;
    background-color: #52C5B6;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-right: 12px;
}
#about .text-areya a{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    padding: 30px 30px;
    background-color: #FD5F36;
    border-radius: 5px;
    border: 1px solid transparent;
}
#about .text-areya a:hover{
    background-color: transparent;
    border: 1px solid #FD5F36;
    color: #FD5F36;
    transition: .4s;
}
/* <!-- ======about section end====== --> */
/* =======Services section start========= */
#services{
    padding-top: 120px;
    padding-bottom: 150px;
    background-color: #FAFAFA;
}
#services .taitel-left h4{
    font-size: 20px;
    font-weight: 700;
    color: #FD5F36;
    margin-bottom: 8px;
}
#services .taitel-left h1{
    font-size: 62px;
    font-weight: 700;
    line-height: 62px;
    color: #30344E;
    width: 500px;
}
#services .taitel-right p{
    font-size: 18px;
    color: #5B5F77;
    width: 538px;
    font-family: 'Inter', sans-serif;
}
#services .card-box h2{
    font-size: 19px;
    font-weight: 700;
    color: #30344E;
    text-align: center;
    margin-bottom: 14px;
}
#services .card-box p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
#services .card-box{
    width: 336px;
    height: 381px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    padding: 40px 24px;
    margin-top: 58px;
}
#services .card-box:hover{
    border-bottom: 10px solid #52C5B6;
}
#services .cd-img{
    margin-left: 100px;
    margin-bottom: 30px;
}
.skl-one {
    position: absolute;
    bottom: -106px;
    left: 513px;
    font-size: 17px;
    width: 48px;
    height: 48px;
    border: 1px solid #CECECE;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    z-index: 999;
}
.skl-one:hover{
    background-color: #FD5F36;
    color: #ffffff;
    transition: .4s;
}
.skl-tow:hover{
    background-color: #FD5F36;
    color: #ffffff;
    transition: .4s;
}
.skl-tow {
    position: absolute;
    bottom: -106px;
    right: 584px;
    font-size: 17px;
    width: 48px;
    height: 48px;
    border: 1px solid #CECECE;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    z-index: 999;
}
.slick-dots {
    position: absolute;
    bottom: -103px;
    left: 576px;
}
.slick-dots li{
    display: inline-block;
    margin: 10px;
}
.slick-dots li button{
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
}
.slick-dots .slick-active{
    border:1px solid #FD5F36;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.slick-dots .slick-active button{
    background-color: #FD5F36;
    height: 10px;
    width: 10px;
}
/* =======Services section end========= */
/* <!-- ==========best section start========== --> */
#best{
    padding-top: 160px;
    padding-bottom: 160px;
}
#best .left h1{
    font-size: 48px;
    font-weight: 700;
    color: #30344E;
    letter-spacing: 0.95px;
    margin-bottom: 20px;
}
#best .left p{
    font-size: 18px;
    font-weight: 400;
    color: #30344E;
    margin-bottom: 40px;
}
#best .left a{
    width: 204px;
    height: 64px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #FD5F36;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;
}
#best .left a:hover{
    background-color: transparent;
    border: 1px solid #FD5F36;
    color: #FD5F36;
    transition: .4s;
}
#best .left-text h2{
    font-size: 24px;
    font-weight: 700;
    color: #30344E;
    line-height: 32px;
    margin-bottom: 16px;
}
#best .right-text h2{
    font-size: 24px;
    font-weight: 700;
    color: #30344E;
    line-height: 32px;
    margin-bottom: 16px;
}
#best .left-text p{
    font-size: 16px;
    font-weight: 400;
    color: #30344E;
    line-height: 26px;
    font-family: 'Inter', sans-serif;
}
#best .right-text p{
    font-size: 16px;
    font-weight: 400;
    color: #30344E;
    line-height: 26px;
    font-family: 'Inter', sans-serif;
}
#best .year {
    width: 361px;
    height: 107px;
    background-color: rgb(82, 197, 182);
    position: absolute;
    bottom: 5px;
    right: 91px;
}
#best .right-x{
    position: relative;
}
#best .year .item h2{
    font-size: 88px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 25px;
}
#best .year .item{
    display: flex;
    gap: 12px;
}
#best .year .item h4{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 19px;
}
#best .year .item h4::before {
    content: "";
    width: 128px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 32px;
    right: 10px;
}
/* <!-- ==========best section end========== --> */
/* <!-- ========meet section start======= --> */
#meet{
    background-color: #353A55;
    padding-top: 80px;
    height: 401px;
    padding-bottom: 108px;
}
#meet .taitel h3{
    font-size: 20px;
    font-weight: 700;
    color: #FD5F36;
    text-align: center;
    margin-bottom: 8px;
}
#meet .taitel h1{
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
}
#meet .img-box{
    position: relative;
    overflow: hidden;
}
#meet .img-box .i-box i {
    font-size: 22px;
    width: 44px;
    height: 44px;
    color: #5B5F77;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    display: block;
    margin-top: 13px;
}
#meet .img-box .text h2{
    font-size: 18px;
    font-weight: 700;
    color: #30344E;
    margin-bottom: 6px;
}
#meet .img-box .text h2::before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #30344E;
    position: absolute;
    left: 9px;
    top: 30px;
}
#meet .img-box .text {
    width: 232px;
    height: 94px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 22px 40px 22px 50px;
    position: relative;
    position: absolute;
    bottom: -13px;
}
#meet .img-box .text h4{
    font-size: 14px;
    font-weight: 400;
    color: #30344E;
}
#meet .img-box .fa-plus {
    font-size: 22px;
    width: 44px;
    height: 44px;
    color: #5B5F77;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    margin-top: 13px;
    position: absolute;
    bottom: 5px;
    right: 11px;
    z-index: 9999;
    cursor: pointer;
}
#meet .img-box .i-box {
    position: absolute;
    bottom: 62px;
    right: 13px;
    visibility: hidden;
}
#meet .img-box .fa-plus:hover{
    background-color: #52C5B6;
}
#meet .img-box .main:hover .i-box{
    visibility: visible;
    transition: .3s;
}
#meet .img-box .main:hover .text{
    background-color: #52C5B6;
    color: #ffffff;
    visibility: visible;
}

/* <!-- ========meet section end======= --> */
/* =========Startup section start========= */
#startup{
    padding-top: 333px;
    padding-bottom: 140px;
}
#startup .text-box{
    margin-top: 200px;
}
#startup .text-box h1{
    font-size: 46px;
    font-weight: 700;
    color: #30344E;
    margin-bottom: 49px;
}
#startup .mony-img{
    width: 100%;
}
#startup .accordion-item{
    margin-bottom: 15px;
}
#startup .accordion-body p{
    font-size: 18px;
    font-weight: 400;
    color: #5B5F77;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}
#startup h2{
    font-size: 20px;
    font-weight: 700;
    color: #5B5F77;
}
#startup i{
    font-size: 20px;
    color: #5B5F77;
}
.accordion-button-active-bg{
    color: black;
}
/* =========Startup section end========= */
/* ===========caount section start===========*/
#caount{
    background-color: #52C5B6;
    padding: 110px 0;
}
#caount .left h4{
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    color: #ffffff;
    margin-bottom: 40px;
}
#caount .left a{
    width: 201px;
    height: 64px;
    border-radius: 5px;
    background-color: #FD5F36;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
#caount .amount h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 24px;
}
#caount .amount h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
#caount .compani{
    margin-top: 49px;
}
/* ============caount section end========== */
/* <!-- ============what section start========= --> */
#what{
    background-color: #FAFAFA;
    padding-top: 120px;
}
#what .taitel h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    color: #30344E;
    margin-bottom: 59px;
}
#what .test{
    width: 783px;
    height: 417px;
    background-color: #ffffff;
    padding: 49px 60px 49px 60px;
    border-radius: 10px;
}
#what .test p{
    font-size: 24px;
    font-weight: 400;
    color: #30344E;
    line-height: 46px;
    font-family: 'Inter', sans-serif;
    text-align: justify;
    margin-bottom: 51px;
}
#what .left .name h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #30344E;
    margin-bottom: 5px;
}
#what .left .name h5{
    font-size: 16px;
    font-weight: 400;
    color: #30344E;
}
#what .left{
    display: flex;
    gap: 30px;
    align-items: center;
}
#what .right i{
    color: #FFC34C;
    font-size: 24px;
}
#what .foter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#what .chat .one{
    clip-path: polygon(74% 22%, 88% 18%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 22%);
    width: 433px;
    height: 141px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    margin-left: 124px;
    margin-bottom: 50px;
}
#what .chat .one h3{
    font-size: 22px;
    font-weight: 400;
    color: #5B5F77;
    padding: 69px 30px 38px 50px;
}
#what .chat .tow h3{
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    padding: 69px 30px 38px 50px;
}
#what .chat .three h3{
    font-size: 22px;
    font-weight: 400;
    color: #5B5F77;
    padding: 69px 30px 38px 50px;
}
#what .chat .tow{
    clip-path: polygon(7% 13%, 14% 18%, 100% 18%, 100% 70%, 100% 100%, 0 100%, 0% 70%, 0 0);
    width: 506px;
    height: 141px;
    background-color: #52C5B6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 70px;
}
#what .chat .three{
    clip-path: polygon(74% 22%, 88% 18%, 100% 0, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 22%);
    width: 433px;
    height: 141px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 124px;
}
#what .chat{
    position: relative;
    margin-top: 90px;
}
#what .chat .chat-img-one {
    position: absolute;
    top: -50px;
    right: -78px;
}
#what .chat .chat-img-tow {
    position: absolute;
    left: -79px;
    bottom: 241px;
}
#what .chat .chat-img-three {
    position: absolute;
    right: -93px;
    bottom: 123px;
}
/* <!-- ============what section end========= --> */